:root {
 --primary-background: linear-gradient(191.18deg, #27242c 61.33%, #0c0b0e 101.43%);
 --primary-color: #fe3c72;
 --secondary-color: rgba(255, 255, 255, 0.7);
 --tertiary-color: rgba(255, 255, 255, 0.5);
 --primary-button-background: linear-gradient(94.44deg, #fe3c72 1.26%, #e15561 100%) !important;
  --black-button-background: #27242c;
}
